<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${sectionName}"></title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/community.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="navigation::nav"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="row main">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span th:text="${sectionName}"></span></h2>
                <div class="media" th:each="questionDTO:${pagination.questionDTOS}">
                    <div class="media-left">
                        <a href="#">
                            <img style="width: 38px" class="media-object img-rounded"
                                 th:src="${questionDTO.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" th:text="${questionDTO.title}"></h4>
                        <span class="text-desc"><span th:text="${questionDTO.commentCount}"></span>个回复 •
                            <span th:text="${questionDTO.viewCount}"></span>次浏览 •
                            <span th:text="${#dates.format(questionDTO.gmtCreate,'yyyy-MM-dd hh:mm')}"></span></span>
                    </div>
                    <hr>
                </div>
                <nav aria-label="Page navigation"class="pages">
                    <ul class="pagination">
                        <li>
                            <a th:if="${!pagination.showFirstPage}"  th:href="@{/profile/questions/(page=1)}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li>
                            <a th:if="${pagination.showPrevious}" th:href="@{/profile/questions/(page=(${pagination.page}-1))}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:class="${pagination.page==page}?'active':''" th:each="page:${pagination.pages}">
                            <a th:text="${page}" th:href="@{/profile/questions/(page=${page})}" href="/"></a>
                        </li>
                        <li>
                            <a th:if="${pagination.showNext}" th:href="@{/profile/questions/(page=(${pagination.page}+1))}" aria-label="Previous">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li>
                            <a th:if="${!pagination.showEndPage}" th:href="@{/profile/questions/(page=${pagination.totalPage})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="list-group section">
                    <a href="/profile/questions" th:class="${section=='questions'}?'list-group-item active':'list-group-item'">我的问题</a>
                    <a href="/profile/repies" th:class="${section=='repies'}?'list-group-item active':'list-group-item'">
                        最新回复
                        <span class="badge"></span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>